.container {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row ;
    justify-content:space-around;

    /* background-color: lightgray; */
}

.block {
    position: relative;
}

.image {
   max-width: 250px;
   margin-bottom: 20px;
}



.category {
    position: absolute;  
    /* left: 10%; */
    right: 3%;
    top: 3%;
    color: rgb(237, 26, 26);
}

.filter-button{
    display:flex;
    justify-content: center;
   
    list-style: none
}

.active {
    background-color: rgb(170, 253, 221);
    color: rgb(237, 26, 26);
    
}